* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}

.nav {
  padding: 10px 0;
}

h1 {
  float: left;
  padding-top: 3px;
}

nav {
  float: right;
}

nav a {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 35px;
  padding-top: 13px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

nav a:hover {
  color: #000000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.hero {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./images/tmhero.jpg');
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 52px;
    margin: 0;
    width: 100%;
}

.posts {
  padding: 16px 0;
}

.posts-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.125)
}

.card-info {
  padding: 20px;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media(max-width: 768px) {
  .posts-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    height: 300px;
    font-size: 44px;
  }
}

@media(max-width: 600px) {
  .posts-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

}

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}

.list-container {
  text-decoration: none;
  flex-direction: row;
  color: var(--primaryColor);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.list-container li {
  text-decoration: none;
  flex-direction: row-reverse;
}

.social-container {
  font-size: 1.5rem;
  width: 100%;
}

.footer-container {
  align-items: center;
  justify-content: center;
  display: flex;
}